name: Build Blog
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '14.15.5'
    - name: Build
      run: |
        npm install
        npm run build
    - name: commit & push
      run: |
        git config --local user.email "${{secrets.EMAIL}}"
        git config --local user.name "${{secrets.USER_NAME}}"
        git commit -m 'GitHub Actions commit' -a
        git push origin main
